<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EO.Pdf" version="19.0.69" targetFramework="net40" />
  <package id="EO.Pdf.Wpf" version="19.0.69" targetFramework="net40" />
  <package id="EO.WebBrowser" version="19.0.69" targetFramework="net40" />
  <package id="EO.WebBrowser.Wpf" version="19.0.69" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net40" />
  <package id="MoonPdfLib-x86" version="0.3.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="QRCoder" version="1.2.0" targetFramework="net40" />
</packages>